* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url("./assets/background.png");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.cloud {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.cloud__img {
  object-fit: contain;
}

.cloud--1 {
  animation-name: cloud1;
  animation-duration: 40s;
}

.cloud__img--1 {
  width: 200px;
}

.cloud--2 {
  animation-name: cloud2;
  animation-duration: 35s;
}

.cloud__img--2 {
  width: 300px;
}

.cloud--3 {
  animation-name: cloud3;
  animation-duration: 30s;
}

.cloud__img--3 {
  width: 150px;
}

@keyframes cloud1 {
  from {
    transform: translateX(-450px);
  }
  to {
    transform: translateX(100vw);
  }
}

@keyframes cloud2 {
  0% {
    transform: translate(-600px, -100px) scale(0.9);
  }
  50% {
    transform: translate(35vw, -100px) scale(0.8);
  }
  100% {
    transform: translate(100vw, -100px) scale(0.7);
  }
}

@keyframes cloud3 {
  0% {
    transform: translate(-400px, -350px) scale(0.9);
  }
  50% {
    transform: translate(50vw, -250px) scale(1);
  }
  100% {
    transform: translate(120vw, -300px) scale(1.1);
  }
}
