@font-face {
  font-family: "Space Grotesk Bold";
  src: url("../assets/fonts/SpaceGrotesk-Bold.ttf");
}
@font-face {
  font-family: "Space Grotesk Medium";
  src: url("../assets/fonts/SpaceGrotesk-Medium.ttf");
}

* {
  padding: 0;
  margin: 0;
  font-family: "Space Grotesk Medium", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color-1);
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Grotesk Bold", sans-serif;
}

.layout {
  display: flex;
  width: 1110px;
  // other properties
}
