#hero {
  display: flex;
  justify-content: center;
  --circle-size: 130px;
  --rings-size: 33rem;
  .layout {
    position: relative;
    display: flex;
    align-items: center;
    height: 36rem;
    .hero__content {
      display: flex;
      flex-direction: column;
      gap: var(--space-4);
      position: relative;
      z-index: 30;
      div {
        display: flex;
        flex-direction: column;
        gap: var(--space-3);
        h1 {
          &,
          span {
            font-size: var(--heading-size-1);
            line-height: var(--heading-line-1);
            letter-spacing: var(--heading-char-space-1);
            color: var(--heading-color);
          }
          span {
            border-bottom: 6px solid var(--app-color);
          }
        }
        p {
          font-size: var(--text-size);
          line-height: var(--text-line);
          color: var(--text-color);
          max-width: 27.8rem;
        }
      }
      button {
        @include button;
      }
    }
    .hero__profile {
      position: absolute;
      top: calc(var(--nav-size) * -1);
      right: 0;
      z-index: 0;

      .hero__profile__img {
        object-fit: contain;
      }
      .hero__profile__img--avatar {
        width: 28rem;
      }
      .hero__profile__img--circle {
        width: var(--circle-size);
      }
      div {
        position: absolute;
        left: calc((var(--circle-size) / 2) * -1);
        bottom: calc(var(--circle-size) / 2);
      }
    }
    .hero__rings {
      position: absolute;
      left: calc((var(--rings-size) / 2) * -1);
      top: 0;
      img {
        width: var(--rings-size);
      }
    }
  }
}
