@mixin button {
  font-size: var(--text-size);
  line-height: var(--text-line);
  color: var(--btn-color);
  padding: calc(var(--space-1) - 5px) 0;
  border: none;
  border-bottom: 2px solid var(--app-color);
  text-transform: uppercase;
  appearance: none;
  background: none;
  outline: none;
  width: max-content;
  cursor: pointer;
  transition: 0.1s all ease-in-out;
  &:hover {
    color: var(--app-color);
  }
}
