:root {
  // Colors
  --bg-color-1: #151515;
  --bg-color-2: #242424;
  --app-color: #4ee1a0;
  --heading-color: #fff;
  --text-color: #d9d9d9;
  --btn-color: #fff;
  --input-color: #979797;
  --line-color: #979797;

  // Sizes
  --heading-size-1: 88px;
  --heading-size-2: 48px;
  --heading-size-3: 24px;
  --heading-line-1: 88px;
  --heading-line-2: 56px;
  --heading-line-3: 32px;
  --heading-char-space-1: -2.5px;
  --heading-char-space-2: -1.5px;
  --text-size: 18px;
  --text-line: 28px;
  --nav-size: 120px;

  // Spaces
  --space-1: 15px;
  --space-2: 25px;
  --space-3: 35px;
  --space-4: 70px;
  --space-5: 20px;
  --space-6: 30px;
  --space-7: 5px;
}
