/* Selects the 1st, 4th and 7th <li /> of <ul/> */
ul li:nth-child(3n + 1) {
  background-color: lightblue;
}

/* Selects the 4th and 7th <p> of <main /> counting backwards */
main p:nth-last-child(3n + 1) {
  color: red;
}

/* Selects 2nd and 4th <p> of <div/> */
div p:nth-of-type(2n) {
  color: blue;
}

/* Selects the <li/> of <ol /> that doesn't have ".highlight" class */
ol li:not(.highlight) {
  background-color: aqua;
}

/* Selects the <p /> of <div /> (div with only one child) */
div p:only-child {
  color: purple;
}

/* Selects the first <p /> within <section /> */
section p:first-of-type {
  font-weight: 700;
}

/* Selects the last <p /> within <section /> */
section p:last-of-type {
  font-weight: 700;
}
