#hero {
  display: flex;
  justify-content: center;
  height: 85vh;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
    position: relative;
    z-index: var(--order-2);
    .header__heading {
      @include heading(sm);
    }
    .header__icons {
      display: flex;
      align-items: center;
      gap: var(--space-3);
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-3);
    position: relative;
    z-index: var(--order-2);
    height: 100%;
    .content__description {
      display: flex;
      flex-direction: column;
      gap: var(--space-7);
      h1 {
        @include heading(lg);
        span {
          border-bottom: 6px solid var(--color-2);
        }
      }
      p {
        @include text;
        max-width: 445px;
      }
    }
    button {
      @include button;
    }
  }
  .images {
    position: absolute;
    top: 0;
    right: 0;
    width: 445px;
    .images__circle {
      --circle-size: 129px;
      position: absolute;
      left: calc(var(--circle-size) / 2 * -1);
      bottom: var(--circle-size);
    }
    .images__profile {
      width: 100%;
      object-fit: contain;
    }
  }
}
