/* 
Selects all elements one by one and apply the styles
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flexbox-v1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
}

.flexbox-v1 img {
  height: 400px;
  object-fit: contain;
}

.flexbox-v2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.flexbox-v3 {
  display: flex;
  align-items: center;
  height: 80vh;
}

.flexbox-v3__card--1 {
  background-color: aquamarine;
  order: 2;
  align-self: flex-end;
}

.flexbox-v3__card--2 {
  background-color: blue;
  order: 0;
}

.flexbox-v3__card--3 {
  background-color: beige;
  order: 1;
}
