:root {
  // Colors
  --color-1: #151515;
  --color-2: #4ee1a0;
  --color-3: #242424;
  --color-4: #d9d9d9;
  --color-5: #ffffff;

  // Fonts
  --heading-family: "SpaceGroteskBold", sans-serif;
  --heading-size-1: 88px;
  --heading-size-2: 48px;
  --heading-size-3: 24px;
  --heading-line-1: 88px;
  --heading-line-2: 56px;
  --heading-line-3: 32px;
  --heading-space-1: -2.5px;
  --heading-space-2: -1.5px;
  --text-family: "SpaceGroteskMedium", sans-serif;
  --text-size: 18px;
  --text-line: 28px;

  // Spaces
  --space-1: 10px;
  --space-2: 15px;
  --space-3: 20px;
  --space-4: 25px;
  --space-5: 30px;
  --space-6: 35px;
  --space-7: 40px;
  --space-8: 45px;
  --space-9: 50px;

  // Z Order
  --order-1: 1;
  --order-2: 10;
  --order-3: 20;
  --order-4: 30;
}
