* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* opacity can have a value between 0 and 1 */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scaleX(0.5);
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes shimmer {
  0% {
    transform: translate(-50%);
  }
  100% {
    transform: translate(150%);
  }
}

.animation-loader {
  animation-name: loading;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: normal;
  width: 50px;
  height: 50px;
}

.animation-loader svg {
  width: 50px;
  height: 50px;
}

.animation-fade-in {
  width: 100%;
  height: 100vh;
  position: relative;
  animation: fadeIn 1.5s ease-in-out;
}

.animation-fade-in video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.animation-fade-in__gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6));
}

.animation-fade-out {
  width: 100%;
  height: 60vh;
  animation: fadeOut 1.5s ease-out;
}

.animation-fade-out img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.animation-skeleton-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  gap: 20px;
}

.animation-skeleton-loader__avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #e4e6eb;
}

.animation-skeleton-loader__container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.container__heading {
  height: 20px;
  width: 200px;
  border-radius: 8px;
  background-color: #e4e6eb;
}

.container__para {
  height: 15px;
  width: 400px;
  border-radius: 8px;
  background-color: #e4e6eb;
}

.skeleton {
  overflow: hidden;
  position: relative;
}

.skeleton::after {
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  animation: shimmer 0.6s infinite;
  opacity: 0.2;
  transform: skewX(-40deg);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.7) 25%,
    rgba(0, 0, 0, 1) 52%,
    rgba(0, 0, 0, 0.7) 76%,
    rgba(0, 0, 0, 0.1) 100%
  );
}

.transition-btn {
  border: none;
  appearance: none;
  outline: none;
  padding: 0 30px;
  height: 45px;
  color: #fff;
  background: #000;
  border-radius: 12px;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  transition-property: background, transition; /* the transition will occur only on bkg*/
}

.transition-btn:hover {
  background: #333;
}

.transition-btn:active {
  transform: scale(0.9);
}

.transition-card {
  display: flex;
  flex-direction: column;
  width: 350px;
  border: 1px solid #ededed;
  border-radius: 12px;
  background: #f8f8f8;
  overflow: hidden;
}

.transition-card:hover img {
  transform: scaleX(1.2);
}

.transition-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: 0.5s all ease-in;
}

.transition-card__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
}

.transition-card__content h1 {
  color: #1c1c1b;
  font-size: 18px;
  font-weight: 700;
}

.transition-card__content p {
  color: #8c8c8c;
  font-size: 15px;
  font-weight: 600;
}
