* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --neutral-900-color: #062630;
  --neutral-700-color: #385159;
  --neutral-200-color: #e6e1df;
  --neutral-100-color: #faf5f3;
  --neutral-0-color: #ffffff;

  --light-salmon-500: #fea36f;
  --light-salmon-100: #ffe2d1;
  --light-salmon-50: #fff5ef;

  --heading-gradient: linear-gradient(107deg, #ff9a60 -11.37%, #062630 61.84%);
  --button-gradient: linear-gradient(90deg, #ffe2d1 0%, #fff5ef 100%);

  --main-font-family: "Martian Mono", serif;
  --text-font-family: "Inter", serif;
}

.heading-xl {
  font-family: var(--main-font-family);
  font-size: 62px;
  line-height: 120%;
  letter-spacing: -2px;
  font-weight: 700;
}
.heading-lg {
  font-family: var(--main-font-family);
  font-size: 50px;
  line-height: 130%;
  letter-spacing: -2px;
  font-weight: 600;
}
.heading-md {
  font-family: var(--main-font-family);
  font-size: 34px;
  line-height: 130%;
  letter-spacing: -1px;
  font-weight: 600;
}
.heading-sm {
  font-family: var(--main-font-family);
  font-size: 24px;
  line-height: 110%;
  letter-spacing: -1px;
  font-weight: 600;
}

.text-lg {
  font-family: var(--text-font-family);
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.5px;
  font-weight: 400;
}
.text-md {
  font-family: var(--main-font-family);
  font-size: 18px;
  line-height: 130%;
  letter-spacing: -1px;
  font-weight: 600;
}
.text-sm {
  font-family: var(--main-font-family);
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -1px;
  font-weight: 400;
}

.button-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  appearance: none;
  border: 2px solid var(--neutral-900-color);
  background: var(--light-salmon-50);
  height: 64px;
  padding: 24px;
  color: var(--neutral-900-color);
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s ease-in-out all;
}

.button-primary:hover {
  background: var(--button-gradient);
}

.button-primary:focus {
  outline: medium outset var(--neutral-700-color);
  outline-offset: 3px;
}

.section-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 1174px;
  height: 100%;
}

#section-hero {
  display: grid;
  place-content: center;
  width: 100%;
  height: 100vh;
  background: url(./assets/pattern.png);
  background-position: center;
  background-size: cover;
}

.section-hero__layout {
  gap: 80px;
}

.section-hero__navbar {
  display: flex;
  width: 100%;
}

.section-hero__navbar img {
  width: 189px;
  object-fit: contain;
}

.section-hero__container {
  display: flex;
  gap: 64px;
  width: 100%;
}

.container__content h1 {
  background: var(--heading-gradient);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  padding-bottom: 24px;
}

.container__content p {
  color: var(--neutral-900-color);
  padding-bottom: 32px;
}

.content__testimonials {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-top: 20px;
}

.testimonials__container span {
  color: var(--neutral-700-color);
}

.container__img {
  height: 606px;
  min-width: 540px;
}

.container__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
